body {
 background-image: linear-gradient(30deg , rgb(18, 18, 213), rgb(249, 0, 0));
 min-height: 745px;

margin: 160px;
}
.h22{
  margin:5px; 
  font-size: 60px;
 

}
#para{
  text-align:center;
  font-size: 30px;
  /* background: rgb(64, 198, 187); */
}

* {
  box-sizing: border-box;
}
.one{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: circle;
  background: #eee;
  font-family: monospace;
  font-size: 20px;
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li.clicked {
  background: rgb(87, 87, 87);
  color: #fff;
  text-decoration: line-through;
}

ul li.clicked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li:hover {
  background: rgb(163, 139, 139);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  margin: 0%;
  opacity: 0.5;
  padding: 30px 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  width: 50%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  margin-top: 2px;
  padding: 8px;
  width: 20%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  
}

.addBtn:hover {
  background-color: #bbb;
}

